<!-- Footer-->
<footer class="container-fluid py-5 bg-dark">
    <div class="container text-white">
        <p class="m-0 text-center">Copyright &copy; M2I-Shop</p>
        <p class="mt-1 text-center">Made with &hearts; by M2I-P2</p>
    </div>
</footer>
