{% extends "_layouts/_admin.html.twig"  %}

{% block title %}Categories{% endblock %}
{% block h1 %}Edit category : {{ category.name }}{% endblock %}

{% block body %}
    <a href="{{ path('admin_categories_index') }}">Back to list</a>

    {{ include('admin/categories/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}