{% extends 'base.html.twig' %}

{% block title %}Details of product{% endblock %}

{% block body %}
    <div class="container">
        <h1>Details of product : {{ product.name }}</h1>
        <p>Description : {{ product.description }}</p>
    </div>
{% endblock %}
